// Link overrides.

.govuk-link--warning {
    color: #ca3535 !important;
}

.govuk-link:focus {
    color: var(--govuk-link-colour);
    outline: 3px solid transparent;
    background-color: transparent;
    box-shadow: none;
    text-decoration: none;
}

.govuk-link:focus-visible {
    outline: 3px solid transparent;
    background-color: var(--govuk-focus-colour, #fd0);
    box-shadow:
        0 -2px var(--govuk-focus-colour, #fd0),
        0 4px var(--govuk-focus-text-colour, #0b0c0c);
    text-decoration: none;
}
